<!-- Loop over each object in the recipes array -->
{{#each recipes as |recipe| }}
<div class="row mb-4 recipe">
  <div class="col-md-5">
    <h2>
      <a class="link" href="/recipe/{{recipe.id}}">{{recipe.recipe_name}}</a>
    </h2>
    <p>
      {{recipe.recipe_desc}}
    </p>
    <p>Submitted by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      <!-- Pass recipe_type value to the helper function -->
      <span class="recipe-type">{{recipe.recipe_type}}</span>
    </p>    
  </div>
</div>
{{/each}}
