<div class="">
  <h2>{{recipe_name}}</h2>
  <br>
  <p>{{recipe_desc}}</p>
  <br>
  <h4>Ingredients:</h4>
  <p>{{ingredients}}</p>
  <br>
  <h4>Directions:</h4>
  <p>{{recipe_directions}}</p>
  <br>
  <h4>Type of Recipe:</h4>
  <p>{{recipe_type}}</p>
  <br>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
