<div class="text-center">
  <h2>{{recipe_name}}</h2>
  <p>{{recipe_desc}}</p>
  <p>{{ingredients}}</p>
  <p>{{recipe_directions}}</p>
  <p>{{recipe_type}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
